/* typography */

@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black-webfont.woff2') format('woff2'),
        url('../fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoblack_italic';
    src: url('../fonts/roboto-blackitalic-webfont.woff2') format('woff2'),
        url('../fonts/roboto-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
        url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold_italic';
    src: url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
        url('../fonts/roboto-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
        url('../fonts/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
        url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight_italic';
    src: url('../fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
        url('../fonts/roboto-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
        url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('../fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
        url('../fonts/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
        url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
        url('../fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin_italic';
    src: url('../fonts/roboto-thinitalic-webfont.woff2') format('woff2'),
        url('../fonts/roboto-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* * {
    border: 1px dotted red;
} */

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    font-size: 10px;
    font-family: 'robotoregular';

    display: flex;
    flex-direction: column;
}

header,
footer {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    padding-right: 4rem;
    padding-left: 4rem;
    align-items: center;
}
header div {
    width: 50%;
}

header nav {
    width: 50%;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    /* flex: 1; */
    padding: 0;
    margin: 0;
    gap: 20px;
    font-size: 14px;
    flex-shrink: 0;
}
ul > li {
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

a:hover {
    color: red;
}

a:visited {
    color: blue;
}

.section-1 {
    background-color: #1f2937;
    color: #f9faf8;

    /* font-size: 48px; */

    display: flex;
    /* align-items: center; */
    gap: 20px;
    padding: 4rem;

}

.section-1 h1 {
    font-family: 'robotobold';
    font-size: 48px;
    margin: 0;
    line-height: 1;  
}

.section-1 div {
    width: 50%;

}

.section-1 img {
    object-fit: cover;
    width: 100%
}

img {
    /* width: 100px; */
    flex: 1;
}

.section-2 {
    background-color: #f9faf8;
    display: flex;
}

.section-3 {
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    font-family: 'robotolight_italic';
    font-size: 36px;
}

.section-4 {
    background-color: #f9faf8;
    display: flex;
    padding: 100px;
}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
    margin: 0;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}
