/* ------------------ typography ------------------ */
@font-face {
    font-family: 'robotolight_italic';
    src: url('../fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
        url('../fonts/roboto-lightitalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
        url('../fonts/roboto-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
        url('../fonts/roboto-bold-webfont.woff') format('woff');
}
/* ------------------ general setup ------------------ */
html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'robotoregular';
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

article {
    margin: 0;
    padding: 6vw 18vw;
}

h1 {
    font-family: 'robotobold';
    font-size: 4.8rem;
    color: #f9faf8;
    margin: 0;
    line-height: 1;
}

h2 {
    font-family: 'robotobold';
}

button {
    font-family: 'robotoregular';
    text-align: center;
}
/* ------------------ header ------------------ */
header {
    background: #1f2937;
    color: #e5e7eb;
    padding: 0 18vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    color: #f9faf8;
    font-size: 2.4rem;
}

header li {
    color: #e5e7eb;
    font-size: 1.8rem;
    display: inline;
    padding-left: 1.6rem;
}
/* ------------------ section 1  ------------------ */
.hero {
    background: #1f2937;
    color: #e5e7eb;
    flex: 1;
    display: flex;
    gap: 3rem;
}

.hero div:first-child {
    width: 50%;
    flex: 1;
}

.hero div:nth-of-type(2) {
    width: 50%;
    overflow: hidden;
    flex: 1;
    display: flex;
}

.hero p {
    color: #e5e7eb;
    font-size: 1.8rem;
    margin: 0.8rem 0;
}

.hero button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    border-radius: 0.8rem;
    padding: 1rem 3rem;
}

.hero img {
    max-height: 100%;
    object-fit: contain;
}
/* ------------------ section 2  ------------------ */
.gallery {
    background: #f9faf8;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.gallery h2 {
    color: #1f2937;
    font-size: 3.6rem;
    text-align: center;
}

.gallery div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.gallery div > div {
    text-align: center;
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.gallery p {
    font-size: 1.4rem;
    margin: auto;
}

.gallery img {
    border: 0.4rem solid #3882f6;
    max-width: 100%;
    border-radius: 2rem;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}
/* ------------------ section 3  ------------------ */
.quote {
    background: #e5e7eb;
    padding: 8vw 22vw;
    flex: 1;
}

.quote blockquote {
    color: #1f2937;
    font-family: 'robotolight_italic';
    font-size: 3.6rem;
    font-style: italic;
    margin: 0;
}

.quote figcaption {
    color: #1f2937;
    font-family: 'robotobold';
    font-size: 1.8rem;
    text-align: end;
    padding: 1rem 4rem;
}
/* ------------------ section 4  ------------------ */
.signup {
    padding: 8vw 20vw;
}

.signup > div {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 1.2rem;
    padding: 4rem 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.signup button {
    background-color: transparent;
    border: 0.2rem solid #e5e7eb;
    border-radius: 1rem;
    color: #e5e7eb;
    width: 12rem;
    height: 4rem;
    font-size: 1.4rem;
}

.signup h2 {
    margin: 0.3rem;
    font-size: 1.6rem;
}

.signup p {
    margin: 0.3rem;
    font-size: 1.4rem;
}
/* ------------------ footer ------------------ */
footer {
    background: #1f2937;
    color: #e5e7eb;
    padding: 1rem;
    font-size: 1.4rem;
    justify-content: center;
    text-align: center;
    margin-top: auto;
}
